button {
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  border-radius: 6px;
}

.btn_verdetalle {
  margin-top: 0px;
}

.container_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  width: 339px;
  padding: 5px;
  box-shadow: 0px 3px 10px #0f6d77;
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.titlelist {
  font-weight: bold;
  font-size: 30px;
  margin: 0 20px 0 20px;
  padding: 0 10px 5px 10px;
}

p {
  margin-bottom: 50px;
}

strong {
  color: red;
}

.productoAgotado {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

.sinStock {
  margin: 10px;
  padding: auto;
  color: darkgrey;
  font-size: 30px;
}
