.contador {
  display: flex;
}

span {
  font-size: 22px;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;

}

/* .contador_btn {

  background-color: aquamarine;
  } */
